body {
  text-align: center;
  background-color: rgb(0, 0, 84);
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 400;
}

.container h1 {
  font-family: 'Amatic SC', cursive;
  color: rgb(129, 249, 255);
  font-size: 4.5rem;
}

.container h3 {
  font-weight: 400;
  color: #fff;
  font-size: 1.3rem;
}

.inputNumber {
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 4rem;
  font-family: 'Amatic SC', cursive;
  color: rgb(0, 10, 101);
}

.body-game {
  margin: 50px auto;
  width: 350px;
  height: 380px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.866);
}

.text-body {
  padding-top: 50px;
  font-size: 1.2rem;
}

.button-check {
  width: 230px;
  height: 45px;
  border-radius: 3px;
  border: none;
  background: rgb(129, 249, 255);
  font-size: 1.7rem;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.cont-start {
  margin-top: 300px;
}

.button-start {
  width: 300px;
  height: 70px;
  border-radius: 2.8px;
  border: none;
  background: rgb(129, 249, 255);
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  cursor: pointer;
}
